
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}


<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        @*<ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li><a href="login.html">Account</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>*@
        @if (TempData["loginstatus"] != null)
        {
            @TempData["loginstatus"].ToString()
        }

        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">Hesap Girişi</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="subtitle">Üye  Misin?</h2>
                        <p><strong>Hesabına Giriş Yapmak Aşağıdaki Butona Tıkla</strong></p>
                        <p>
                            By creating an account you will be able to shop faster, be up to date on an order's status,
                            and keep track of the orders you have previously made.
                        </p>
                        <a href="~/Account/Login" class="btn btn-primary">Giriş Yap</a>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="subtitle">Yeni Kayıt ol</h2>
                        @*<p><strong>I am a returning customer</strong></p>*@
                        <form asp-action="Register" method="post">
                            <div class="form-group">
                                <label class="control-label" for="input-email">Ad</label>
                                <input type="text" name="name" value="" placeholder="Adınızz" id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">Soyad</label>
                                <input type="text" name="lastname" value="" placeholder="Soyadınızz" id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">E-Mail Address</label>
                                <input type="email" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-password">Şifre</label>
                                <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-password">Şifre Tekrar</label>
                                <input type="password" name="passwordConfirm" value="" placeholder="Şİfre Doğrulama" id="input-password" class="form-control" />
                            </div>
                            <input type="submit" value="Kayıt Ol" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>
